@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Global 변수 */
:root {
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* colors */
  --color-white: #fff;
  --color-black: #113370;
  --color-blue: #20f903;
  --color-orange: #fd6413;
  --color-gray: #274db6;

  /* size */
  --size-max-width: 1200px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "GowunDodum-Regular";
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
.box {
  border: 1px solid var(--color-primary);
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
}
#todolist {
  display: flex;
  flex-direction: column;
}
